body {
    margin: 0em;
    padding: 0em;
    width: 100vw;
    height: 100vh;
}

#iframeset {
    margin: 0em;
    padding: 1px;
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
}

#left_frame {
    margin: 0em;
    padding: 1px;
    width: calc(25vw - 8px);
    height: calc(100vh - 8px);
    border-top: none;
    border-left: none;
    border-bottom: none;
}

#right_frame {
    margin: 0em;
    padding: 1px;
    width: calc(75vw - 8px);
    height: calc(100vh - 8px);
    border-top: none;
    border-right: none;
    border-bottom: none;
}